:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(30, 30, 30);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col_bg: rgb(71, 0, 39);
  --col_bgrey: rgb(30, 30, 30);
  --col_bigtxt: rgb(209, 0, 115);
  --col_bg_a: rgb(118, 209, 0);
  --col_loading: rgb(62, 62, 62);
  --col_footer: rgb(19, 0, 43);
}

p {
  color: rgb(145, 235, 235);
  font-size: 1.5em;
}

h1 {
  font-size: 4em;
  line-height: 1.1;

  letter-spacing: 8px;
  font-weight: bold;
  color: var(--col_bigtxt);
}

h2 {
  font-size: 3em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

h3 {
  font-size: 2em;
  font-weight: bold;
  color: var(--col_bigtxt);
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

a {
  font-size:1.5em;
  font-weight: 500;
  color: rgb(0, 171, 171);
  text-decoration: inherit;
  padding: 16px;
  transition: 200ms;
}

a:hover {
  color: rgb(0, 228, 175);
  font-size: 2.0em;
  font-weight: bold;
  transition: 200ms;
}

html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow-x: hidden;
  background-color: rgb(93, 112, 223);
}

body {
  width: 100%;
  background-color: rgb(71, 0, 39);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  place-items: center;
  overflow-x: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
