.relativeContainer
{
    position: relative;
    width: 100%;
    height: 75vh;
}

.z1 {
    /*pointer-events: none;*/
    display: inline;
    position: relative;
    z-index: 2;
}


.z1_ui {
    pointer-events: auto;
}