.artModal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, transparent -50%, #6f1358 110%);
    z-index: 1;
    transition: 100ms;
}

.artModal button {
    position: fixed;
    right: 16px;
    top: 16px;
    width: 128px;
    height: 64px;
    background-color: var(--col_bg);
    color: var(--col_bigtxt);
}

.artModal img {
    margin: auto;
    max-width: 80%;
    max-height: 75%;
}

.modalImgContainer {
    display: flex;
    padding: 10vh;
    height: 80vh;
}