.sourceCardBack {
    padding: 32px;
    left: 16px;
    bottom: 16px;
    height: 4%;

    display: flex;
    position: fixed;

    margin-top: auto;
    background-color: rgb(239, 232, 240);
    border-radius: 16px;
    text-align: center;
    align-items: center;
    box-shadow: #000 -4px 4px 8px;
    z-index: 999;
}

.sourceCardBackPortrait {
    left: 0px;
    right: 0px;
    margin: 8px;
}

.sourceLink {
    font-size: 14pt;
    color: rgb(5, 17, 55);
}

.sourceLink:hover {
    font-size: 16pt;
    color: rgb(27, 93, 180);
}

