
.st_base {
    font-size: 10em;
    font-weight: bold;
    background: transparent;
    text-shadow: 
        2px 0px rgb(255, 98, 0),
        4px 0px rgb(139, 3, 83);
    transition: 100ms;
}

.st_base:hover {
    font-size: 12em;
    font-weight: bold;
    text-shadow: 
        12px 0px rgb(255, 98, 0),
        24px 0px rgb(139, 3, 83),
        36px 0px rgb(87, 3, 139);

    transition: 300ms;
}