.topbar {
    top: 0px;
    height:128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    overflow: hidden;
    background-color: rgb(19, 0, 43);
}

.links {
    display: flex;
    height:32px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}