.background {
    border-radius: 32px;
    padding: 32px;
    margin: 32px;
    background-color: var(--col_bg);
}

.workImgWrapper {
    border-radius: 32px;
    background-color: var(--col_loading);
    margin: auto;
    width: fit-content;
    min-width: 210px;
    height:210px;
    padding: 0;
}

.workImg {
    border-radius: 32px;
    width: 100%;
    height: 100%;
}

button {
    width: 50%;
    height: 25%;
    min-height: 64px;
    min-width: 128px;
    border-radius: 16px;
    background-color: var(--col_bigtxt);
    color: var(--col_bg);
    transition: 200ms;
}

button:hover{
    width: 55%;
    height: 30%;
    min-height: 64px;
    min-width: 128px;
    border-radius: 16px;
    background-color: var(--col_bg_a);
    color: var(--col_bigtxt);
    transition: 200ms;
}